*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif, 'Gill Sans', work sans;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
   /* justify-content: space-between;*/
    padding: 0px 90px;
    padding-top: 100px;
    gap: 80px;
}

#left{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    justify-content: space-between;
    padding-bottom: 25px;
}

#left h1{
    /* font-size: 140px;*/
    font-size: 8.3vw;
    font-weight: 500;
    font-family: sans-serif, 'Gill Sans', work sans;
    /*line-height: 130px;*/
    line-height: 8.5vw;
}

#bottom-left{
    width: 100%;
    /*background-color: yellow;*/
}
#color{
   /* background-color: blue;*/
    width: fit-content;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #000;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}

#color1{
    width: 20px;
    height: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}
#color2{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
}

#left h2{
    margin-top: 50px;
    /*font-size: 30px;*/
    font-size: 2vw;
    margin-bottom: 15px;
}

#left p{
    width: 65%;
    /*font-size: 17px;*/
    font-size: 1vw;
    font-weight: 600;
    color: #444;
   /* line-height: 26px;*/
    line-height: 1.4vw;
}

#right{
    width: 33%;
    height: 90%;
    /*background-color: blue;*/
    position: relative;
}

#right-top{
    width: 100%;
    height: 50px;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
#right-top h4{
    font-size: 30px;
    font-family: work sans;
    font-weight: 600;
}

#right-top h5{
    font-size: 16px;
}

#right-top h5 i{
    color: #000;
}

#right img{
    width: 100%;
    height: 91%;
    object-fit: cover;
}

#black-gola{
    width: 170px;
    height: 170px;
    position: absolute;
    background-color: rgb(40, 40, 43);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -18%;
    top: 24%;
}

#black-gola h5{
    font-size: 26px;
    font-weight: 400;
}
#rotated{
    position: absolute;
    left: -13%;
   /* background-color: red;*/
    bottom: 2%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 35px;
    font-weight: 500;
}

@media (max-width: 600px) {
    #main{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 40px;
        padding-top: 40px;
        gap: 40px;
    }
    
    #left{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        /*background-color: red;*/
        justify-content: space-between;
        padding-bottom: 50px;
        gap: 50px;
    }
    
    #left h1{
        font-size: 18vw;
        font-weight: 500;
        font-family: sans-serif, 'Gill Sans', work sans;
        line-height: 18vw;
    }
    
    #bottom-left{
        width: 100%;
        /*background-color: yellow;*/
    }
    #color{
       /* background-color: blue;*/
        width: fit-content;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 1px solid #000;
    }
    #color h5{
        font-size: 13px;
        margin-right: 5px;
        font-weight: 500;
    }
    
    #color1{
        width: 12px;
        height: 12px;
        background-color: burlywood;
        border-radius: 50%;
        margin: 3px;
    }
    #color2{
        width: 12px;
        height: 12px;
        background-color: brown;
        border-radius: 50%;
    }
    
    #left h2{
        margin-top: 20px;
       /* font-size: 30px;*/
        font-size: 3vw;
        margin-bottom: 8px;
    }
    
    #left p{
        width: 85%;
        font-size: 2.2vw;
        font-weight: 600;
        color: #444;
        line-height: 2.9vw;
    }
    
    #right{
        width: 100%;
        height: 50%;
        /*background-color: blue;*/
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 40px;
    }
    
    #right-top{
        width: 100%;
        height: 60px;
        /*background-color: red;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0px;
    }
    #right-top h4{
        font-size: 26px;
        font-family: work sans;
        font-weight: 600;
    }
    
    #right-top h5{
        font-size: 15px;
    }
    
    #right-top h5 i{
        color: #000000;
    } 
    
    #right img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    
    #black-gola{
        width: 80px;
        height: 80px;
        position: absolute;
        background-color: rgb(32, 32, 34);
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -10%;
        top: 7%;
    }
    
    #black-gola h5{
        font-size: 13px;
        font-weight: 400;
    }
    #rotated{
        position: absolute;
        left: 0%;
       /* background-color: red;*/
        top: 0%;
        rotate: 0deg;
        transform-origin: 0 0;
        font-size: 24px;
        font-weight: 600;
    }
}